body {
    background: #F3E2A9;
}
code {
    background: #04B404;
    border-radius: 6px;
    color: #fff;
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
}
.default {
    background: none;
    color: #666;
    text-align: left;
}
.pavadinimas {
    font-size: 20px;
}
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    background: #D8D8D8;
    border-radius: 6px;
    clear: both;
}
.group,
header,
section,
aside {
    margin: 0 1.5% 24px 1.5%;
}
section {
    height: auto;
}
aside {
    height: auto;
}
i {
    margin-left: 96%;
    font-size: 30px;
}

.group{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.musumenu ul {
    margin: 0;
    padding: 0;
    width:1000px;
    list-style-type: none;
}
.musumenu ul li a {
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
}
.musumenu ul li a:hover, .musumenu ul li .current {
    color: white;
    background-color: #5FD367;
}