<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Article website</title>
    <link th:href="@{/stylesheet.css}" rel="stylesheet" />
</head>
<body>
<h1>Welcome to the best news!</h1>
<div class="musumenu" th:each="posts: ${posts}">
    <ul>
        <li><a th:href="@{|/post/${posts.name}|}" th:text="${posts.name}"></a></li>
    </ul>
</div>
</body>
</html>