<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/stylesheet.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
</head>
<body>
<div th:each="post : ${post}">
    <a th:href="@{/}"><i class="fas fa-home"></i></a>
    <header>
        <code class="pavadinimas" th:text="${post.name}"></code>
    </header>
    <div class="group">
        <section>
            <img th:attr="src=@{${post.img}}" />
        </section>
        <aside>
            <code th:text="${post.text}"></code>
        </aside>
    </div>
    <footer>
    </footer>
</div>
</body>
</html>